html {
  overflow-y: auto;
	background-color: var(--joplin-background-color);
	color: var(--joplin-color);
	font-size: var(--joplin-font-size);
	font-family: var(--joplin-font-family);
	padding: 5px;
}

.hist-item a {
	color: var(--joplin-color);
	text-decoration: none;
}

.hist-item a:active, a:hover {
	font-weight: bold;
}

.hist-section {
  font-weight: bold;
}
