html {
  overflow: auto;
  text-overflow: clip;
  background-color: var(--joplin-background-color);
  color: var(--joplin-color);
  font-size: var(--joplin-font-size);
  font-family: var(--joplin-font-family);
}

.hist-title {
  color: var(--joplin-color);
  font-weight: bold;
  text-decoration: none;
  margin: 5px;
}

.hist-section {
  margin: 5px;
}

.hist-item {
  margin: 0px;
  text-overflow: clip;
  overflow-x: hidden;
  white-space: nowrap;
}

.hist-item a {
  color: var(--joplin-color);
  text-decoration: none;
}

.hist-item a:active, a:hover {
  font-weight: bold;
}

.hist-plot {
  height: calc(var(--joplin-font-size) + 2px);
  width: 5px;
  vertical-align: text-bottom;
  stroke-width: 3px;
}
